<div class="content">
    <div class="card card__content">
        <div style="font-size: 24px;">HELLO!</div>
        <div>Validate your password.</div>
        <!-- new password -->
        <app-password-input 
            class="component-space"
            typePassword="newpassword"
            [formController]="passwordControl"
            (resultPassword)="getNewPass($event)">
        </app-password-input>
        <!-- confirm password -->
        <app-password-input 
            class="component-space"
            typePassword="confirmpassword"
            [formController]="confirmPasswordControl"
            [disabeButton]="disableButton">
        </app-password-input>

        <app-strength-indicator
            class="component-space"
            [password]="valuePassword">
        </app-strength-indicator>
    </div>
</div>