.content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 500px;
    border: 1px solid #6C757D;
    border-radius: 8px;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 16px;
    }
}

.img {
    width: 200px;
    height: 200px;
}

.component-space {
    width: 80%;
}

.bullet {
    display: flex;
    flex-direction: column;
    gap: 4px;
}